<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>389131875767-bpptfq8ttt249fkpepeg9lhk9ftlf2ed.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.389131875767-bpptfq8ttt249fkpepeg9lhk9ftlf2ed</string>
	<key>API_KEY</key>
	<string>AIzaSyDiG3p1oitWHidaDU4pXc9McutJggKQ01U</string>
	<key>GCM_SENDER_ID</key>
	<string>389131875767</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.welfareAttendanceProject</string>
	<key>PROJECT_ID</key>
	<string>welfare-attendance</string>
	<key>STORAGE_BUCKET</key>
	<string>welfare-attendance.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:389131875767:ios:bdddf8b488cd5599426432</string>
</dict>
</plist>